* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #2b2f3a;
  color: white;
}

input,
textarea {
  padding: 12px;
  margin: 12px 0;
  font-family: 'Inter', sans-serif;
  background-color: transparent;
  color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
}

input::placeholder,
textarea::placeholder {
  color: #aaa;
  font-weight: bold;
}

.note-app__header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 16px;
  border-bottom: 1px solid #aaa;
}

.note-app__header h1 {
  margin: 8px 0;
  flex: 1;
  color: white;
}

.note-app__body {
  width: auto;
  margin: 16px auto;
  margin-left: 20px;
  margin-right: 20px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.note-app__body h2 {
  font-weight: normal;
  margin: 16px 0;
}

.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 20px;
  border-radius: 15px;
  background-color: rgb(75, 85, 94);
  height: fit-content;
}

.note-input {
  margin: 0 auto;
  width: 100%;
}

.add-button {
  width: fit-content;
  font-size: larger;
  height: 70px;
  padding: 8px;
  font-family: 'Inter', sans-serif;
  color: white;
  background-color: rgb(12, 123, 147);
  border: none;
  border-radius: 11px;
  font-weight: bold;
  align-self: center;
  cursor: pointer;
}

.add-button:hover {
  color: rgb(12, 123, 147);
  background-color: white;
}

.note-input input,
.note-input textarea {
  display: block;
  width: 100%;
  border: 3px solid rgb(175, 175, 175);
}

.note-input__title {
  font-weight: bold;
}

.note-input__title__char-limit {
  font-size: 14px;
  text-align: right;
  color: #aaa;
}

.note-input__body {
  min-height: 175px;
}

.note-input button {
  display: block;
  width: 100%;
  padding: 8px;
  font-family: 'Inter', sans-serif;
  color: white;
  border: none;
  border-radius: 11px;
  font-weight: bold;
  cursor: pointer;
}

.note-input__button {
  display: flex;
  gap: 13px;
}

.note-input__button .note-input__submit-button {
  background-color: rgb(12, 123, 147);
}

.note-input__button .note-input__submit-button:hover {
  background-color: white;
  color: rgb(12, 123, 147);
}

.note-input__button .note-input__cancel-button {
  background-color: #c84b31;
}

.note-input__button .note-input__cancel-button:hover {
  background-color: white;
  color: #c84b31;
}

.notes-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(min-content, max-content);
  gap: 16px;
  margin-bottom: 48px;
}

.notes-list__empty-message {
  text-align: center;
  padding: 15px;
  border: 3px solid rgb(175, 175, 175);
  border-radius: 15px;
  color: #aaa;
  width: auto;
  align-self: stretch;
}

.section-title__active {
  text-align: center;
  background-color: #4d9f3dc4;
  border-radius: 11px;
}

.section-title__archive {
  text-align: center;
  background-color: #fec16081;
  border-radius: 11px;
}

.note-item {
  background-color: #24292e;
  border: 3px solid rgb(175, 175, 175);
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  min-height: 280px;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  gap: 10px;
}

.note-item__content {
  padding: 12px;
  flex: 1;
}

.note-item__title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 4px;
}

.note-item__date {
  font-size: 12px;
  margin-bottom: 8px;
  color: #aaa;
}

.note-item__body {
  text-align: left;
  font-size: 14px;
  overflow: auto;
  height: 200px;
}

.note-item__action {
  display: flex;
  gap: 15px;
}

.note-item__delete-button,
.note-item__archive-button {
  width: 100%;
  padding: 8px 0;
  font-family: 'Inter', sans-serif;
  cursor: pointer;
  border: none;
}

.note-item__delete-button {
  color: white;
  background-color: #c84b31;
  border-radius: 11px;
}

.note-item__archive-button {
  color: white;
  background-color: #0c7b93;
  border-radius: 11px;
}

.note-item__archive-button:hover {
  color: #0c7b93;
  background-color: white;
}

.note-item__delete-button:hover {
  color: #c84b31;
  background-color: white;
}

@media only screen and (min-width: 500px) {
  .notes-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 800px) {
  .notes-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .note-search input {
    min-width: 400px;
  }
}

@media only screen and (min-width: 1000px) {
  .notes-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
